body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efece2;
  }
  
/* page container */
  
  .container {
    width: 1552px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  /* link in circle */

  .link-container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    right: 1px;
  }
  
  .top-right-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-right-circle .home-link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
  /* Half-Circle */
  .half-circle {
    width: 40px;
    height: 80px;
    border: 7px solid black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-right: none;
  }
  /* Line between*/

  .bold-line {
    width: 15px;
    height: 7px;
    margin-top: 36px;
    margin-bottom: 37px;
    background-color: black;
  }

  /* title */
  
  .title {
    text-align: left;
    font-size: 110px;
    margin: 20px;
    padding-left: 10rem;
    font-family: Rancho;
  }

  /* map */
  
  .map-section {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  .map-image {
    max-width: 100%;
    height: auto;
  }

  /* info container */

  .main-container {
    max-width: 1198px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .bottom-section {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex: 1;
  }
  
  .left-container {
    flex: 2;
    display: flex;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    flex-direction: row;
  }
  .column-contant {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
  .right-container {
    text-align: right;
    font-size: 180px;
    font-family: Rancho;
  }
  
  .right-container p {
    font-size: 80px;
  }
  /* footer */
  .footer {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  .logo-rights {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .logo-rights img {
    width: 213px;
    height: 44px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .all-rights {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .dis-logo {
    display: flex;
    gap: 20px;
   
  }
  .dis-logo img {
    width: 41px;
    height: 21px;
  }
  /* footer img */
  .footer-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
    overflow: hidden;
  }
  
  .footer-img .half-img {
    position: relative;
    height: 300px; 
    object-fit: cover;
  }