/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    background-color: #EFECE2;
  }
  .half-eye-container {
    display: flex;
    gap: 5%;
  }
.bg-left {
    margin-top: 10%;
}
