
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #EFECE2;
  }
  
  .container-head {
    position: relative;
    max-width: 1552px;
    height: 633.09px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
  }
  
  /* Background Triangle */
  .container-head::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 22vw solid transparent;
    border-right: 22vw solid transparent;
    border-bottom: 75vh solid #EAEAEA;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  /* Circle */
  .shapes {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border: 7px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle a {
    text-decoration: none;
    font-size: 22px;
    font-family: Montserrat;
    color: black;
  }
  
  /* Half-Circle */
  .half-circle {
    width: 40px;
    height: 80px;
    border: 7px solid black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-left: none;
  }
  /* Line between*/

  .bold-line {
    width: 15px;
    height: 7px;
    margin-top: 36px;
    margin-bottom: 37px;
    background-color: black;
  }
  

  /* text  */
  .text-container {
    position: absolute;
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; 
    line-height: 1.5; 
  }
  
  .text-container p {
    font-size: 68px; 
    color: black; 
    margin: 5px 0; 
  }
  

  /*Eye-container*/
  .eye-container {
    height: 200px;
    position: absolute;
  }