
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    background-color: #EFECE2;
  }
  
  .container-head {
    position: relative;
    max-width: 1552px;
    height: 634px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
  }
  
  /* Background Triangle */
  .container-head::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 22vw solid transparent;
    border-right: 22vw solid transparent;
    border-bottom: 73vh solid #EAEAEA;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  /* Circle */
  .shapes {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border: 7px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle a {
    text-decoration: none;
    font-size: 22px;
    font-family: Montserrat;
    color: black;
  }
  
  /* Half-Circle */
  .half-circle {
    width: 40px;
    height: 80px;
    border: 7px solid black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-left: none;
  }
  /* Line between*/

  .bold-line {
    width: 15px;
    height: 7px;
    margin-top: 36px;
    margin-bottom: 37px;
    background-color: black;
  }
  

  /* text  */
  .text-container {
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    align-items: flex-start;
    width: 80%; 
    line-height: 1.5; 
  }
  
  .text-container p {
    font-size: 4vw; 
    color: black; 
  }
  .span-badania {
    font-family: 'Times New Roman', Times, serif;
  }
  .container-2 {
   max-width: 1196px;
    /* border: 1px solid black; */
  }
  

  /*Eye-container*/
  .eye-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
  
  }
  .eye-container p {
    font-size: 5.8vw; 
    color: black; 
    margin: 5px 0; 
  }

  .eye-background {
    width: 1000px;
    height: 500px;
    position: relative;
    clip-path: path('M 0 250 Q 500 -200, 1000 250 Q 500 700, 0 250');
    overflow: hidden; 
    background-color: #F5F3EB;
}
.image-inside {
  width: 50%;
  height: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
/* double-text-container */

.double-text-container {
  max-width: 1196px;
  height: 1266px;
  display: grid;
  grid-template-columns: 617px 1fr;
  grid-template-rows: auto;
  gap: 20px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
 
}
.text-left {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 72px;
}

.text-right {
  width: 100%;
  max-width: 497px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25vw;
    text-align: left;
}

.top-text {
  padding: 50px;
  position: relative;
  margin-bottom: 20px; 
  margin-left: 20px;
}

.img4 {
  position: absolute;
  bottom: 0;
  left: 0;
}


.bottom-text {
    height: 100%;
    align-self: flex-end;
    font-size: 1.25vw;
}

/* double-text-container-2 */
.double-text-container-2 {
  text-align: left;
  max-width: 1196px;
  max-height: 821px;
  display: grid;
  grid-template-columns: 505px 1fr;
  grid-template-rows: auto;
  height: auto;
  gap: 80px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.875vw;
}
.text-left-2 {
  width: 505px;
  height: auto;
  text-align: left;
}

.text-right-2 {
  width: 505px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  justify-content: flex-end;
}
.text-top-2 {
  display: flex;
}
.text-botton-2 {
  font-size: 15px;
}
/* big eye container */
.big-eye-background {
  width: 2824px;
  height: 1167px;
  position: relative;
  clip-path: path('M 0 586 Q 1421 -550, 2842 586 Q 1421 1700, 0 586');
  background-color: #F5F3EB;
}
.big-eye-container-2 {
  padding: 20px;
  width: 32%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 34.5%;
}
.badania {
  font-family: Roboto;
  font-weight: 50;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 888px;
  height: 610px;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.grid-item2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.icon2 {
  width: 52px;
  height: 26px;
  margin-right: 10px;
}

.grid-item2 p {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}


/* bottom  - footer */

.eye-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, auto);
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}
