---
import Layout from '../layouts/Layout.astro';
import '../styles/contact.css';
---
<Layout>
  <div class="container">
    <!-- link in circle -->
    <div class="link-container z-10">
        <div class="top-right-circle">
      <a href="/" class="home-link">back</a>
        </div>
      <div class="bold-line"></div>
      <div class="half-circle"></div>
    </div>

    <div class="bg-img-contaniner">
    </div>

    <div class="about-us-container z-0">
      <p class="title-about-us italic">O <span class="border-b-2 border-black pb-1">mnie</span></p>
      <div class="flex">
      <p class="text-[36px] mt-[3rem] mb-[3rem]"> <span class="italic font-light font-montserrat">Indywidualne  </span><span class="font-medium ">podejście</span></p>
      <img src="Arrow 4.png" class="mb-[6rem] ml-8" alt="">
    </div>
     
        <p class="about-us-text1">Wyznaję przekonanie, że każdy jest profesjonalistą w swojej branży a każde dziecko jest indywidualnością. Dlatego zawsze polecamy okulary spersonalizowane.</p>
        
        <p class="text-[36px] mt-[3rem] mb-[3rem]"> <span class="font-medium ">Kompleksowe</span>  <span class="border-b-2 border-black pb-1 italic">badanie</span> </p> 
        
        <p class="about-us-text1"> Poprzedzamy niwelowaniem progów specjalista-dziecko. A zastępujemy to partnerstwem i empatią dla dziecka. Czasem badanie wzroku nie kończy się na jednej wizycie a wymaga długofalowej obserwacji małego pacjenta albo tylko oswajaniem co nie wymaga dodatkowych kosztów (jedynie uśmiech). Kompleksowe badanie dla dorosłych oznacza pewność, że zbada Cię specjalista od złożonych korekcji wad wzroku oraz specjalista od konstrukcji soczewek i szkieł progresywnych.</p>
      


    </div> 
</Layout>
