---
import Layout from '../layouts/Layout.astro';
import '../styles/contact.css';
---
<Layout>
  <div class="container">
    <!-- link in circle -->
    <div class="link-container">
        <div class="top-right-circle">
      <a href="/" class="home-link">back</a>
        </div>
      <div class="bold-line"></div>
      <div class="half-circle"></div>
    </div>

    <div class="bg-img-contaniner">
    </div>
   

    </div> 
</Layout>
