---
import Layout from '../layouts/Layout.astro';
import '../styles/contact.css';
---
<Layout>
  <body>
    <div class="container">
      <div class="link-container">
          <div class="top-right-circle">
        <a href="/" class="home-link">back</a>
          </div>
        <div class="bold-line"></div>
        <div class="half-circle"></div>
      </div>
      
      <h1 class="title">Kontakt</h1>
      <div class="map-section">
        <img src="map.png" alt="Mapa" class="map-image">
      </div>

      <div class="main-container">
      <div class="bottom-section">
        <div class="left-container">
          <div class="column">
            <div class="column-contant">
            <img src="pinpoint.png" alt="Icon" class="icon" />
            <div class="address-box">
            <h3 class="font-bold text-3xl">Salon Głogów</h3>
            <p class="text-xl">ul. Garncarska 6 </br>
              67-200 Głogów </br>
              509 860 578 </br>
              kontakt@optyksuda.pl</br>
              optometrysta.glogow</p>
            </div>
          </div>
        </div>
          <div class="column">
            <div class="column-contant">
             <img src="clock.png" alt="Icon" class="icon" />
            <div>
               <p class="font-bold text-3xl">Godziny otwarcia</p>
               <p class="text-xl">Pon - Pt:10:00 - 17:00</br>
                Sobota:10:00 - 14:00</p>
            </div>
          </div>
          </div>
        </div>
        <div class="right-container">
          <h2>Zadzwoń</h2>
          <p>509 860 578</p>
          <img src="Arrow1.png" alt="">
        </div>
      </div>
      <div class="footer">
          <div class="logo-rights">
            <img src="logo.png" alt="">
            <p class="all-rights">Ⓒ 2021 by SUDA, All Rights Reserved</p>
            <div class="dis-logo">
            <p>Design and developement</p> <img src="DIS.png" alt="">
            </div>
          </div>

          <div class="footer-img">
            <img src="Group2.svg" alt="Decorative Image" class="half-img">
          </div>
      </div>
    </div>
    </div>
  </body>
</Layout>
