---
export const layout = null;
import '../styles/mobile.css'
---

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Page</title>
</head>
<body>
    <div class="container">
        <div class="link-container">
            <a href="#section1">O mnie</a>
            <a href="#section2">Badania</a>
        </div>
        <img src="Group.png" alt="">
        <div class="link-container">
            <a href="#section3">Kontakt</a>
            <a href="#section4">Sklep</a>
        </div>

        <div class="background-bottom">
        </div> 
        <div class="background-section">
            <h2>O mnie</h2>
        </div>
        <div class="background-bottom">
            </div> 

         
    
      

    </div>
</body>
</html>