---
export const layout = null;
import '../styles/mobile.css'
---

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Page</title>
</head>
<body>
    <div class="container">
        <div class="link-container">
            <a href="#section-about-us">O mnie</a>
            <a href="#section2">Badania</a>
        </div>
        <img src="Group.png" alt="">
        <div class="link-container">
            <a href="#section3">Kontakt</a>
            <a href="#section4">Sklep</a>
        </div>

        <div class="background-bottom">
        </div> 

        <div class="background-section">
            <h2 class="text-xl">O mnie</h2>
            <div class="image-container">
                <img src="Group2.svg" alt="">
            </div>
        </div>
        <div class="text-contanier">
            <div class="text-contant  ">
                <p class="text-[18px]"> <span class="italic border-b-2 border-black pb-1 ">Indywidualne</span> <span class="font-black">podejscie</span> </p>
                <p class="text-[12px] pt-4 pb-4">Wyznaje przekonanie, ze kazdy jest profesjonalista w swojej branzy a kazde dziecko jest indywidualnościa. Dlatego zawsze polecamy okulary </br> spersonalizowane.
                </p>
                <p class="text-[18px]"> <span class="font-black">Kompleksowe</span> <span class="italic border-b-2 border-black pb-1 ">badanie</span></p>
                <p class="text-[12px] pt-4 pb-4">Poprzedzamy niwelowaniem progów specjalista-dziecko. A zastępujemy to partnerstwem i empatią dla dziecka. Czasem badanie wzroku nie kończy się na jednej wizycie a wymaga długofalowej obserwacji małego pacjenta albo tylko oswajaniem co nie wymaga dodatkowych kosztów (jedynie uśmiech). Kompleksowe badanie dla dorosłych oznacza pewność, że zbada Cię specjalista od złożonych korekcji wad wzroku oraz specjalista od konstrukcji soczewek i szkieł progresywnych.
                </p>
            </div>
         </div>
        <div class="background-bottom">
           <p class="text-[32px]"> <span class="font-black">Terapia</span> <span class="">widzenia</span> </p>
        </div> 
        

         
    
      

    </div>
</body>
</html>