---
export const layout = null;
---

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Page</title>
</head>
<body>
    <h1 > Strona mobilna</h1> 
</body>
</html>