---
import Layout from '../layouts/Layout.astro';
import '../styles/shop_v2.css';
---
<Layout>
<body>
    <div class="container left-container">
        <div class="shapes">
            <div class="half-circle"></div>
            <div class="bold-line"></div>
            <div class="circle">
              <a href="index.html">back</a>
            </div>
          </div>
          <div class="shop-h1">
            <h1 class="text-6xl ml-56">Sklep</h1>
          </div>
        <div class="half-eye-left"></div>
    </div>

   

    <div class="container right-container">
        <div class="half-eye-right"></div>
    </div>
</body>
</html>
</Layout>