---
import Layout from '../layouts/Layout.astro';
import '../styles/shop_v3.css';
---
<Layout>
    <body>
        <div class="container">
            <div class="header"><div class="shapes">
                <div class="half-circle"></div>
                <div class="bold-line"></div>
                <div class="circle">
                  <a href="index.html">back</a>
                </div>
              </div><h1 class="font-xl">Shop</h1></div>
            <div class="left-aside"></div>
            <div class="right-aside"></div>
        </div>
    </body>
</Layout>