---
import Layout from '../layouts/Layout.astro';
import '../styles/shop.css';
import '../styles/treatment.css';
---
<Layout>
  <div class="shapes">
    <div class="half-circle"></div>
    <div class="bold-line"></div>
    <div class="circle">
      <a href="index.html">back</a>
    </div>
    <h1>SKLEP</h1>
  </div>
  <div class="half-eye-container">
    <div class="bg-left background-both"> <img src="left-eye.png" alt=""> </div>
    <div class="bg-righ background-both"> <img src="right-eye.png" alt=""> </div>
  </div>
 
  
 
</Layout>