---
import Layout from '../layouts/Layout.astro';
import '../styles/treatment.css';
---
<Layout>
  <body>
    <div class="container-head">
      <div class="shapes">
        <div class="half-circle"></div>
        <div class="bold-line"></div>
        <div class="circle">
          <a href="index.html">back</a>
        </div>
        
      </div>
      <div class="text-container">
        <p>Badania wzroku dzieci </p>
        <p>pozwalają na wykrycie</p>
        <p>zaburzeń wpływających</p>
         
      </div>
      
    </div>
    <div class="eye-container">
      <p>negatywnie na prawidłowy</p> 
      <p>rozwój widzenia.</p>
    </div>
  </body>
</Layout>
