---
import Layout from '../layouts/Layout.astro';
import '../styles/treatment.css';
---
<Layout>
  <body>
    <div class="container-head">

      <div class="shapes">
        <div class="half-circle"></div>
        <div class="bold-line"></div>
        <div class="circle">
          <a href="index.html">back</a>
        </div>
      </div>

      <div class="text-container">
        <div class="container-2">
          <p class="px-5"> <span class="span-badania">Badania</span> wzroku <span class="font-bold border-b-4 border-black text-500 ">dzieci</span></p>
          <p class="px-5">pozwalają na <span class="font-bold" >wykrycie</span></p>
          <p class="px-5"> <span class="italic">zaburzeń</span>  wpływających</p>
        </div>
      </div>
      
    </div>

    <div class="eye-container">
      <div class="container-2">
        <p class="px-5">negatywnie na <span class="font-thin italic font-sans">prawidłowy</span></p> 
        <p class="px-5">rozwój widzenia.</p>
      </div>

      <div class="eye-background">
        <img src="Group2.svg" alt="Group Image" class="image-inside">
      </div>

<!-- text 1 -->
    <div class="double-text-container">
      <div class="text-left">Wśród 
          zaburzeń 
          możemy
          wyróżnić
          m.in. wysokie
          wady refrakcji,
          różnowzroczność,
          różnego rodzaju zezy,
          choroby narządu
          wzroku.
      </div>

      <div class="text-right">
       <div class="top-text">
        <img class="img4" src="Arrow 4.png" alt="">
      </div>
      <div class="bottom-text">Badania pozwalają na wdrożenie odpowiedniego postępowania, jak zastosowanie korekcji okularowej, soczewkowej czy terapii wzrokowej ze wskazaniem wizyty u optometrysty, soczewek terapeutycznych (np. z dodatkiem do bliży) lub w przypadku patologii-leczenia okulistycznego. Brak profilaktyki nieprawidłowości związanych z układem wzrokowym może skutkować na wczesnym etapie życia dziecka nieodpowiednimi interakcjami wzrokowo-motorycznymi (opóźnienie w osiąganiu kolejnych etapów rozwoju np. pełzanie, raczkowanie, chodzenie itd.), a w przyszłości dziecka - problemami w nauce i/lub w osiągnięciach sportowych. Na etapie szkolnym problemy te często prowadzą do negatywnej samooceny i obniżenia jakości życia dziecka. Zatem istotne jest, aby dzieci miały zapewnioną specjalistyczną opiekę w zakresie badania wzroku ze strony okulisty jaki i optometrysty w celu wczesnego wykrywania zaburzeń, a także właściwej profilaktyki.
      </div>
    </div>
  </div>

  <!-- text 2 -->
<div class="double-text-container-2">
  <div class="text-left-2">
    BBadania przesiewowe wzroku przeprowadzone w Polsce wykazały rosnącą liczbę dzieci z nieprawidłowymi parametrami układu wzrokowego, które wpływają na zaburzenia rozwoju widzenia (1). Wyniki te wskazują na potrzebę wprowadzenia obowiązkowych badań wzroku dla dzieci zwłaszcza w okresie niemowlęcym, przedszkolnym, a także wczesnoszkolnym.
  </div>
  <div class="text-right-2">
    <div class="text-top-2">
      Również kładą nacisk na potrzebę edukacji rodziców oraz zwiększenie dostępności specjalistycznych badań wzroku u małych pacjentów. Duże nadzieje na zaspokojenie tych potrzeb pokładamy w kształceniu nowej specjalizacji tzw. optometria pediatryczna.
    </div>
    <div class="text-botton-2">
      Artykuł zredagowany dzięki: Joanna Brenk, Alicja Brenk-Krakowska
      (1) Głowacka A., Miśkowiak B., Badania przesiewowe wzroku, 2012
    </div>

  </div>
</div>

<!-- big-eye-container  -->

<div class="big-eye-background">

  <div class="big-eye-container-2">
    <p class="text-6xl font-extrabold pt-12 mt-72">ZAKRES <span class="italic underline badania">badania:</span></p>
    <h3 class="text-lg md:text-xl pt-12 pb-12">
      Dzięki <span class="font-bold text-primary">wieloletnim</span> studiom oraz praktyce w różnych krajach zajmujemy się:
    </h3>

    <div class="container2">
      <div class="grid-item2">
        <img src="Group79.png" alt="Icon 1" class="icon" />
        <p>złożonymi korekcjami wad wzroku dorosłych, dzieci, osób niepełnosprawnych , jak również z trudnościami werbalnymi lub osób obcojęzycznych</p>
      </div>
      <div class="grid-item2">
        <img src="Group79.png" alt="Icon 2" class="icon" />
        <p>treningi oko/ręka przy intensywnej pracy biurowej, lateralizacji skrzyżowanej, rehabilitacji wzrokowo/ruchowej.
        </p>
      </div>
      <div class="grid-item2">
        <img src="Group79.png" alt="Icon 3" class="icon" />
        <p>diagnozujemy zaburzenia widzenia obuocznego (np. zezy jawne i ukryte) czy akomodacji. Oferujemy ćwiczenia osób zezujących -przed i pooperacyjnie -przez ortoptystę pod kierunkiem optometrysty behawioralnego</p>
      </div>
      <div class="grid-item2">
        <img src="Group79.png" alt="Icon 4" class="icon" />
        <p>prowadzimy treningi wzrokowe VT usprawniające szybkość reakcji u sportowców
        </p>
      </div>
      <div class="grid-item2">
        <img src="Group79.png" alt="Icon 5" class="icon" />
        <p>prowadzimy treningi wzrokowe VT usprawniające szybkość czytania i długość koncentracji w pracy biurowej np. przed komputerem</p>
      </div>
      <div class="grid-item2">
        <img src="Group79.png" alt="Icon 6" class="icon" />
        <p>nauka i dopasowanie soczewek kontaktowych, jak również kontrole użytkowników pod względem zagrożenia i powikłań posoczewkowych-kontaktolog.</p>
      </div>
    </div>
    
  </div>



</div>

<!-- footer - bottom  -->

<div class="eye-grid-container">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>

  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>

  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>

  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
  <div class="grid-item"><img src="Group2.svg" alt="Image 5"></div>
</div>
     </div>
  </body>
</Layout>
