---
import Layout from '../layouts/Layout.astro';

import '../styles/treatment.css';

---
<Layout>
  <body>
    <div class="container">
      <div class="shapes">
        <div class="half-circle"></div>
        <div class="bold-line"></div>
        <div class="circle">
          <a href="index.html">back</a>
        </div>
        
      </div>
      
    </div>
  </body>
</Layout>
