---
import '../styles/welcome.css';

---

<div class="background-container">
  <div class="landing-page">
    <a href="about-us" class="corner-link top-left">
		<img class="img2" src="Arrow2.png" alt="">O mnie 
    </a>
    <a href="treatment" class="corner-link top-right">
      Badania <img  class="img1" src="Arrow1.png" alt="">
    </a>
    <a href="contact" class="corner-link bottom-left">
		<img class="img4" src="Arrow 4.png" alt="">Kontakt 
    </a>
    <a href="shop" class="corner-link bottom-right">
      Sklep <img 
	  class="img3" 
	  src="/Arrow3.png" 
	  alt="Arrow 3" >
    </a>
  </div>
</div>

